*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    scroll-behavior: smooth;
}

body{
    image-resolution: 100%;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-size: cover;
    background-image: url(./meteor.webp);
    background-position: center;
    background-attachment: fixed;
}

.navbar{
    position: sticky;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgb(53, 95, 150);
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    z-index: 1000;
    transition: background 2s ;
    animation: typing 2s forwards;
    overflow: hidden;
}

@keyframes typing{
    from{
        opacity: 0 ;
         width: 0px;
    }
    to{
        opacity: 1;
        width: 100%;
    }
}

 .logo{
    font-family: cursive;
    font-size: 24px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: flex;
}
.logo a{
    text-decoration: none;
}
.logo a:hover{
            color: #b1e5f7; 
}
.nav-links{
    list-style: none;
    display: flex;
}
.nav-links li{
    margin: 0 15px;
}

.nav-links a {
    color: rgb(249, 255, 255);
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}
.nav-links a:hover{
    color: blue;
 }
 .back{
    float: none;
    position:fixed;
    border-radius: 20px;
    margin-right: 95%;
    box-sizing: content-box;
    background-color: cornflowerblue;
    padding: 10px;
    margin-top: 3%;
    animation: typing 1s forwards;
    overflow: hidden;
}    
@keyframes typing{
    from{
        opacity: 0 ;
        
        }
        to{
            opacity: 1;
           
                }}

.back a{
    text-decoration: none;
    color: aliceblue;
}
.back:hover{
    background-color: cadetblue;
    
}

.fav_anime{
    display: flexbox;
    overflow: hidden;
    white-space: nowrap;
    animation:floatUp 2s;
}
@keyframes floatUp{
    from{
        opacity: 1;
        transform: translateY(100px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}
.fav_anime table th{
    color: aliceblue;
  padding: 100px;

}
.fav_anime h3{
    color: aliceblue;
}
.fav_anime table  td{
    padding: 100px;
}
 table{
    float: none;
    margin-top: 2%;
 }
 #fern{
    
    width: 250px;
    height: 300px;
 }

 table th td{
    padding: 25%;
 }
 #ds{
    width: 250px;
    height: 300px;

 }
 .reality{
    border-radius: 20%;
    margin-bottom: 10%;
    margin-right: 50%;
    background-color: cornflowerblue;
    padding: 2%;
    float: right;
    margin-top: 15%;
    animation: 2s;
}
@keyframes floatUp{
    from{
        opacity: 1;
        transform: translateY(100px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
        }}
 .reality a{
    text-decoration: none;
 }
 .reality:hover{
    background-color: midnightblue;
 }
 .reality a:hover{
    color: aliceblue;
 }